[Unit]
Description=RAUC Good-marking Service
ConditionKernelCommandLine=|bootchooser.active
ConditionKernelCommandLine=|rauc.slot
After=boot-complete.target
Requires=boot-complete.target
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@BINDIR@/rauc status mark-good

[Install]
WantedBy=multi-user.target
